h1 {
  width: 250px;
  margin: 0px auto;
  border: 5px solid black;
  font-weight: bold;
  text-align: center;
}

p {
  border: 5px solid black;
  text-align: center;
  width: 500px;
  margin: 10px auto;
}

button{
  width: 250px;
  margin: 5px center;



}

ul li{
  width: 100px;
  margin: 5px auto;
  color: blue;
}
